.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12, .s13, .s14, .s15, .s16, .s17, .s18, .s19, .s20, .s21, .s22, .s23, .s24, .s25, .s26, .s27, .s28, .s29, .s30, .s31, .s32, .nowrap { display: block; float: left; height: auto; margin: 0px 5px 5px 0px; padding: 0px; vertical-align: top; }
.s1, .t1, .nowrap { width: 20px; } .s2, .t2 { width: 45px; } .s3, .t3 { width: 70px; } .s4, .t4 { width: 95px; } .s5, .t5 { width: 120px; } .s6, .t6 { width: 145px; } .s7, .t7 { width: 170px; } .s8, .t8 { width: 195px; } .s9, .t9 { width: 220px; } .s10, .t10 { width: 245px; } .s11, .t11 { width: 270px; } .s12, .t12 { width: 295px; } .s13, .t13 { width: 320px; } .s14, .t14 { width: 345px; } .s15, .t15 { width: 370px; } .s16, .t16 { width: 395px; } .s17, .t17 { width: 420px; } .s18, .t18 { width: 445px; } .s19, .t19 { width: 470px; } .s20, .t20 { width: 495px; } .s21, .t21 { width: 520px; } .s22, .t22 { width: 545px; } .s23, .t23 { width: 570px; } .s24, .t24 { width: 595px; } .s25, .t25 { width: 620px; } .s26, .t26 { width: 645px; } .s27, .t27 { width: 670px; } .s28, .t28 { width: 695px; } .s29, .t29 { width: 720px; } .s30, .t30 { width: 745px; } .s31, .t31 { width: 770px; } .s32, .t32 { width: 795px; }
.p1 { margin-left: 25px; } .p2 { margin-left: 50px; } .p3 { margin-left: 75px; } .p4 { margin-left: 100px; } .p5 { margin-left: 125px; } .p6 { margin-left: 150px; } .p7 { margin-left: 175px; } .p8 { margin-left: 200px; } .p9 { margin-left: 225px; } .p10 { margin-left: 250px; } .p11 { margin-left: 275px; } .p12 { margin-left: 300px; } .p13 { margin-left: 325px; } .p14 { margin-left: 350px; } .p15 { margin-left: 375px; } .p16 { margin-left: 400px; } .p17 { margin-left: 425px; } .p18 { margin-left: 450px; } .p19 { margin-left: 475px; } .p20 { margin-left: 500px; } .p21 { margin-left: 525px; } .p22 { margin-left: 550px; } .p23 { margin-left: 575px; } .p24 { margin-left: 600px; } .p25 { margin-left: 625px; } .p26 { margin-left: 650px; } .p27 { margin-left: 675px; } .p28 { margin-left: 700px; } .p29 { margin-left: 725px; } .p30 { margin-left: 750px; } .p31 { margin-left: 775px; }
.sbg { background: #666666; height: 20px; line-height: 20px; color: #FFFFFF; }
.ba { border: 1px solid #000066; } .bb, .bb td { border-bottom: 1px solid #000066; } .bt, .bt td { border-top: 1px solid #000066; } .bl { border-left: 1px solid #000066; } .br { border-right: 1px solid #000066; }
.ba2, .bw2 { border: 2px solid #000066; } .bb2, .bb2 td { border-bottom: 2px solid #000066; } .bt2 { border-top: 2px solid #000066; }
.bl2 { border-left: 2px solid #000066; } .br2 { border-right: 2px solid #000066; }
.br1 {
    border-right-color: #ddd;
    border-right-image: none;
    border-right-width: 1px 0;
    border-right-style: solid;
}
.bl1 {
    border-left-color: #ddd;
    border-left-image: none;
    border-left-width: 1px 0;
    border-left-style: solid;
    padding-left: 5px;
}
.b2o { border-top: 2px solid #FF6600; border-bottom: 2px solid #FF6600; }
.lh14 {line-height: 14px !important}
.orange {color:#FF6600}
.bg-white {color:#fff;}
.f9 {font-size: 9px;}
.f10 {font-size: 10px;}
.f11 {font-size: 11px;}
.f12 {font-size: 12px;}
.f11em{font-size: 1.1em;}
.f09em{font-size: 0.9em;}
.f08em{font-size: 0.8em;}
.f12em{font-size:1.2em;}
.f13em{font-size:1.3em;}
.f14em{font-size:1.4em;}
.f16 {font-size:16px;}
.f18 {font-size: 18px;}
.ba4o{ border: 4px solid #f60; }
.ba3o{ border: 3px solid #234 !important;border-radius :2px 2px 2px 2px;}
.bag {border:2px solid #d9edf7; }
.b1g { border:1px solid #d9edf7;}
.bord-rnd-20 { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius:20px}
.nobord { border: 0px !important; }
.bc { border-collapse: collapse; }
.b-med-gray { border-color: #666666; } .b-light-gray { border-color: #999999; } .b-light-orange { border-color: #FFE2C9; } .b-gray { border-color: #E2E2E2; } .b-light-blue { color: #C2D2E5; }
.med-gray { color: #666666; } .light-gray { color: #999999; } .light-orange { color: #FFE2C9; } .gray { color: #E2E2E2; } .light-blue { color: #C2D2E5; } .white{color:#fff}
.ledger, .ledger td { background-color: #E8ECFF !important; } .ledger-gray, .ledger-gray td { background-color: #EEEEEE; } .ledger-orange, .ledger-orange td { background-color: #FFF7F0; }
.bbw, .bbw td { border-bottom: 1px solid #FFFFFF; }
.bbg{ border-bottom: 1px dotted #d9edf7; }
.secondLine { display: block; line-height: 10px !important; margin-bottom: 5px; padding-left: 25px; }
.b {font-weight: bold;}
.bg-blue {background:#d9edf7 !important; padding: 0px !important; }
.bg-yel {background:#ffffd9 !important;}
.bg-gray-select{background: #4D5B76 !important;}
.bg-blue-nopad {background:#d9edf7 !important;}
.bg-orange-nopad td {background:#FFFFA0 !important;}
.bg-prim-blue {background:#0055cc !important; padding: 0px !important; line-height: 18px !important; color:#fff !important}
.bg-prim-blue-no-pad {background:#0055cc !important;color:#26466D !important}
.btm2{bottom:2px;} .btm5{bottom:5px;}
.logo {font-size: 36px;}
.logo-small {font-size: 14px;line-height: 20px; color:#777788;}
.h5 { height: 5px; } .h10 { height: 10px; } .h15 { height: 15px; } .h20 { height: 20px; } .h25 { height: 25px; } .h50 { height: 50px; } .h75 { height: 75px; } .h80 { height:80px; } .h100 { height: 100px; } .h125 { height: 125px; } .h150 { height: 150px; } .h175 { height: 175px; } .h200 { height: 200px; } .h225 { height: 225px; } .h250 { height: 250px; } .h260 { height: 260px; } .h275 { height: 275px; } .h300 { height: 300px; } .h325 { height: 325px; } .h350 { height: 350px; } .h375 { height: 375px; } .h400 { height: 400px; }
.h30 {height: 30px;} .h35 {height: 35px;} .h40{height: 40px;}
.pt0 { padding-top: 0px !important; } .pt5 { padding-top: 5px; } .pt10 { padding-top: 10px; } .pt15 { padding-top: 15px; } .pt20 { padding-top: 20px; } .pt25 { padding-top: 25px; } .pt30 { padding-top: 30px; }
.pt1 {padding-top:1px !important} .pt2 {padding-top:2px !important} .pt3 {padding-top:3px !important}
.pad12 {padding: 12px !important}
.p0{padding:0px !important}
.pad1{padding:1px !important}
.pad2{padding:2px !important}
.pb0 { padding-bottom: 0px; } .pb5 { padding-bottom: 5px; } .pb10 { padding-bottom: 10px; } .pb15 { padding-bottom: 15px; } .pb20 { padding-bottom: 20px; } .pb25 { padding-bottom: 25px; } .pb30 { padding-bottom: 30px; }
.pr0 { padding-right: 0px; } .pr5 { padding-right: 5px; } .pr10 { padding-right: 10px !important; } .pr15 { padding-right: 15px !important; } .pr20 { padding-right: 20px; } .pr25 { padding-right: 25px; } .pr30 { padding-right: 30px; } .pr35 {padding-right: 35px;}  .pr40 {padding-right:40px;}
.pl0 { padding-left: 0px; } .pl5 { padding-left: 5px; } .pl10 { padding-left: 10px !important; } .pl15 { padding-left: 15px !important; } .pl20 { padding-left: 20px; } .pl25 { padding-left: 25px; } .pl30 { padding-left: 30px; }
.mt0 { margin-top: 0px; } .mt5 { margin-top: 5px; } .mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; } .mt20 { margin-top: 20px; } .mt25 { margin-top: 25px; } .mt30 { margin-top: 30px; } .mt35 { margin-top: 35px; } .mt40 { margin-top: 40px; } .mt45 { margin-top: 45px; } .mt50 { margin-top: 50px; } .mt55 { margin-top: 55px; } .mt60 { margin-top: 60px; } .mt100{ margin-top:100px; } .mt120 { margin-top: 120px; }
.mb0 { margin-bottom: 0px!important; } .mb5 { margin-bottom: 5px; } .mb10 { margin-bottom: 10px; } .mb15 { margin-bottom: 15px; } .mb20 { margin-bottom: 20px; } .mb25 { margin-bottom: 25px; } .mb30 { margin-bottom: 30px; }
.mr0 { margin-right: 0px; } .mr5 { margin-right: 5px; } .mr10 { margin-right: 10px; } .mr15 { margin-right: 15px; } .mr20 { margin-right: 20px; } .mr25 { margin-right: 25px; } .mr30 { margin-right: 30px; }
.ml0 { margin-left: 0px !important; } .ml5 { margin-left: 5px; } .ml10 { margin-left: 10px; } .ml15 { margin-left: 15px; } .ml20 { margin-left: 20px; } .ml25 { margin-left: 25px; } .ml30 { margin-left: 30px; } .ml35 { margin-left: 35px; } .ml40 { margin-left: 40px; } .ml45 { margin-left: 45px; } .ml50 { margin-left: 50px; } .ml55 { margin-left: 55px; } .ml60 { margin-left: 60px; } .ml65 { margin-left: 65px; } .ml80 { margin-left:80px;}
.mt19 {margin-top: 19px !important;} .mt18 {margin-top:18px !important;} .mt17 {margin-top: 17px !important;}
.nomargin { margin: 0px; }
.nopadding { padding: 0px; }
.right {text-align: right !important;} .left {text-align:left !important;}
.center {text-align:center !important;}
.bg-back{background: radial-gradient(ellipse closest-side at 50% 50% , #FFFFFF, #F3F3F3 100%) repeat scroll 0 0 transparent;}

.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Passenger";
    font-size: 13px;
    font-weight: bold;
    left: -1px;
    padding: 1px 3px;
    position: absolute;
    top: -1px;
}

.title{
    background: url(../images/roadrunner/atcblock.png) no-repeat scroll 0 0 #EEEEEE;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

/*.panelHead {
    background: url(../images/roadrunner/atcblock.png) no-repeat scroll 0 0 #EEEEEE;

    border: 1px solid #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #235;
    font-family: inherit;

    line-height: 15px;
    margin-bottom: 0;
    min-height: 19px;
    padding: 6px 4px 3px 8px;
}*/

.inner {
    background: url(../images/darkgrain.png) repeat scroll 0 0 #EEEEEE;
    /*border-radius: 4px 4px 4px 4px;*/
    margin: 0 0 10px;
    overflow: hidden;
    padding: 6px;

}

/*
.panelBody {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    *//*background: none repeat scroll 0 0 white;*//*
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #e6e6e6;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    line-height: 21px;
    margin-bottom: 10px;
    padding: 4px 8px;
    background: url(../images/roadrunner/dk-noise.png) repeat-x scroll center top #F7F7F7;
}*/


.panelHead {
    /*background: repeat-x scroll center top #4D71A3;*/
    /*background-color: #6C7A95;
    background:-moz-linear-gradient(center top , #6C7A95 0px, #4D5B76 45px, #E5E5E5 46px, #F7F7F7 47px, #FFFFFF 50px) repeat-x scroll center top #6C7A95;*/
    background-color:#1B2329;
    background: -moz-linear-gradient(center top , #1B2329, #11161A) repeat scroll 0 0 / 100% auto #11161A;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #eee;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    min-height: 20px;
    padding: 6px 4px 3px 8px;
}

.panelBody {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: none repeat scroll 0 0 white;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 4px 8px;
    background: #fff;
    /*background: url(../images/roadrunner/dk-noise.png) repeat-x scroll center top #F7F7F7;*/
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.error-message {font-size: 0.8em; color: #b94a48; margin-bottom: 2px !important; padding-left:2px;}
.red {color: #b94a48}
.green {color:#468847}
.blue {color:#0055cc}
.orange {color:#f89406; !important;}
.logo-orange {color:#FF6600}
.lbl {color: #555;}
.info {color:#d9edf7;}
.hd {color:#555555;}
.slmn {color: #6F4242;}
.blk {color:#000000;}
.white{color:fff !important;}
.anchor{color:#234 !important; font-weight: normal;font-size:1.0em;}
ul.icons {
    list-style-type: none;
    margin-left: 2em;
    text-indent: -0.8em;
}
.bis {color:#AFA497;}
.cyan{
    color:#235 !important;
}
ul.mail-links {
    margin: 0;
    overflow: hidden;
}

hr.straight {
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-color:#DDE8F0;
}


table.formTable.twoColumn {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
table.formTable.twoColumn tr {
    border-bottom: 1px dotted #E1E1E1;
}
table.formTable.twoColumn th {
    width: 145px;
}
table.formTable.twoColumn.vTop th {
    padding-top: 7px;
    vertical-align: top;
    padding-left: 10px;
}
table.formTable.twoColumn th {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    height: auto;
    line-height: 13px;
    padding: 3px 4px 3px 0;
    text-align: left;
    vertical-align: middle;
}

